<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/index.html}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pangolin">
<link rel="stylesheet" href="./css/style.css">


<head></head>

<body>
<header>
    <h1>LightInTheSched Application</h1>
</header>


<nav>
    <ul>
        <li><a href="/stage">See The Current Loadshedding Stage</a></li>
        <li><a href="/provinces">Get A List Of Provinces</a></li>
        <li><a href="/towns">Find Your City's Schedule</a></li>
        <li><a href="/">Home</a></li>

    </ul>
</nav>
<!-- Header Section -->
<!-- Navigation Bar -->


<!-- Main Content Section -->

    <div layout:fragment="contents">
        <!-- Display the town and stage information -->
        <p th:text="${'Showing schedule for ' + town}"></p>
        <p th:text="${'For stage ' + stage}"></p>

        <!-- Schedule Table -->
        <table>
            <thead>
            <tr>
                <th>Day</th>
                <th>Slot Start</th>
                <th>Slot End</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="day, itr : ${schedule.getDays}">
                <td th:text="${itr.count}"></td>
                <td>
                            <span th:each="slot : ${day.getSlots}">
                                <span th:text="${slot.getStart}"></span><br/>
                            </span>
                </td>
                <td>
                            <span th:each="slot : ${day.getSlots}">
                                <span th:text="${slot.getEnd}"></span><br/>
                            </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



</body>
</html>
